api.seedpay.app {
    encode gzip zstd

    @txs {
        path /txs*
        method GET HEAD OPTIONS
    }
    handle @txs {
        reverse_proxy api:8080
    }

    @watcher {
        path /watcher*
        method GET HEAD OPTIONS
    }
    handle @watcher {
        reverse_proxy api:8080
    }

    @postgrest {
        method GET HEAD OPTIONS
    }
    handle @postgrest {
        reverse_proxy postgrest:3000
    }

    respond "Method Not Allowed" 405
}
